BasedOnStyle: LLVM
ColumnLimit: 80
AlwaysBreakAfterDefinitionReturnType: All
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Linux
AccessModifierOffset: -4
IndentCaseBlocks: true
IndentCaseLabels: true
PointerAlignment: Left
