# See https://clang.llvm.org/extra/clang-tidy/checks/list.html
---
Checks: '-*,
    performance-*,
    openmp-*,
    hicpp-*,
    -hicpp-no-array-decay,
    modernize-*,
    -modernize-use-trailing-return-type,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    clang-analyzer-*,
    bugprone-*,
    readability-*
    -readability-implicit-bool-conversion,
    -readability-identifier-length,
    abseil-*'
